.todo-list form input {
    padding: 12px 0;
    width:100%;
    background: var(--input-background);
    border: none;
    color: var(--text-primary);
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 20%);
  }

  form .btn[type="submit"] {
    display:none;
  }