

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 60px;
  height: calc(100vh - 40px);
  transition: all .5s;
  background-image: url('./images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  display:flex;
  justify-content: center;
}

.App[data-theme='light']{
  background-image: url('./images/bg-desktop-light.jpg')
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}

.Container {
  width:50%;
  height:500px;
}
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  letter-spacing: 10px;;
}